<a href="https://colab.research.google.com/github/ezioux/Learning-Python/blob/Operasi-Pada-List-dan-Manipulasi-String/Operasi_pada_List_dan_Manipulasi_String.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **# Operasi pada urutan (sequences):**
# List, Set, String

# len()
menghitung panjang atau banyaknya elemen

In [25]:
l = [1,2,3,3,4,4,4,4,5,6]


print(l)
(len(l))

# len() untuk menghitung jumlah isi pada list

[1, 2, 3, 3, 4, 4, 4, 4, 5, 6]

10

In [27]:
x = "Hello, world"

print(x)
print(len(x))

Hello, world
12

# Penggabungan (+) dan Replikasi (*)

In [28]:
[1, 2, 3,] + ['A', 'B', 'C']

# + menggabungkan isi variabel list

[1, 2, 3, 'A', 'B', 'C']

In [29]:
['X', 'Y', 'Z'] * 3

# * mengalikan semua isi variabel list

['X', 'Y', 'Z', 'X', 'Y', 'Z', 'X', 'Y', 'Z']

In [30]:
spam = [1, 2, 3]
spam = spam + ['A', 'B', 'C']
spam

[1, 2, 3, 'A', 'B', 'C']

In [31]:
arr = [0]*10
len(arr)
arr

# fungsi pengali bisa untuk inisiasi list
# arr merepresentasikan array, mirip list tapi datanya harus data numerik yang satu tipe
# contohnya dalam satu array harus terdiri dari int atau float saja

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

# Range()

membuat deret bilangan dengan pola tertentu

In [35]:
for i in range(9):
    print(i)

# range 1 parameter
# range() membuat deret bilangan dari 0, sebanyak 9 bilangan
# maka output berupa angka 0-8

0
1
2
3
4
5
6
7
8

In [36]:
for i in range(3, 9):
    print(i)

# range dua parameter
# membuat deret bilangan yang dimulai dari n hingga sebelum p
# maka outputnya deret 3-8

3
4
5
6
7
8

In [37]:
[_ for _ in range(1, 9, 2)]     # list comperhension

# range 3 parameter
# membuat deret bilangan dimulai dari n hingga sebelum p, dengan selisih q
# maka outputnya 1, 3, 5, 7 (masing-masing ada selisih 2)

[1, 3, 5, 7]

# in and not in:

untuk mengetahui nilai atau objek dalam list berupa nilai Boolean True atau False

In [38]:
'howdy' in ['hello', 'hi', 'howdy', 'heyas']

# output True karena  ada howdy dalam anggota list

True

In [40]:
spam = ['hello', 'hi', 'howdy', 'heyas']
'cat' in spam

# output False karena cat tidak ada dalam list

False

In [41]:
'howdy' not in spam

# output False karena howdy ada dalam list

False

In [42]:
'cat' not in spam

# output True karena cat tidak ada dalam list

True

# Assignment untuk lebih dari 1 variabel sekaligus

In [44]:
cat = ['fat', 'orange', 'loud']
size = cat[0]
color = cat[1]
disposition = cat[2]

# masih belum ngerti ???

In [46]:
cat = ['fat', 'orange', 'loud'] # From list
size, color, disposition = cat
cat = ('fat', 'orange', 'loud') # From Tuples
size, color, disposition = cat

# masih belum ngerti ???

In [47]:
a, b = 'Alice', 'Bob'
a, b = b, a
print(a)
print(b)

# assignment multi variabel menukar nilai a = Alice menjadi Bob dan sebaliknya

Bob
Alice

# Sort:
untuk mengurutkan list

In [48]:
x = [2, 5, 3.14, 1, -7]
x.sort()
x

# sort() mengurutkan list dari besar ke kecil

[-7, 1, 2, 3.14, 5]

In [49]:
y = ['ants', 'cats', 'dogs', 'badgers', 'elephatns']
y.sort()
y

# sort mengurutkan list secara alfabetis

['ants', 'badgers', 'cats', 'dogs', 'elephatns']

**reverse=True:**
membalik urutan list

In [50]:
y.sort(reverse=True)
y

# urutan list terbalik secara alfabetis

['elephatns', 'dogs', 'cats', 'badgers', 'ants']

In [51]:
z = [1, 2, 3, 4, 'Alix', 'Jean']
z.sort()

# sort() tidak dapat mengurutkan list yang memiliki angka dan string sekaligus

TypeError: ignored

In [52]:
m = ['Alice', 'ants', 'Bob', 'badgers', 'CAROL', 'cats']
m.sort()
m

# sort() menggubnakan urutan ASCII sehingga huruf kapital akan ditulis
# lebih dulu dibandingkan huruf kecil

['Alice', 'Bob', 'CAROL', 'ants', 'badgers', 'cats']

**str.lower:**

memganggap semua objek sebagai huruf kecil

In [53]:
spam =['a', 'z', 'A', 'Z']
spam.sort(key=str.lower)
spam

# key=str.lower menganggap semua objek sebagai huruf kecil sehingga memudahkan
# dalam pengurutan alfabetis data yang hurufnya besar dan kecil

['a', 'A', 'z', 'Z']

# **Manipulasi String**

# String Literals;

membantu memisahkan karakter yang menggunakan tanda ptik (') dalam sebuah string

In [56]:
st = "That's Alice's cat"
st

# pengunaan " untuk membedakan bahwa ' digunakan dalam string sebagai 
# bagian dari kata

"That's Alice's cat"

**Escape Character (\\)**

berguna untuk memasukkan karakter tertentu yang tidak bisa dimasukkan dalam string pada umumnya

In [58]:
st = 'Say hi to Bob\'s mother'
st

# penggunaan \' memungkinkan ' dikenali sebagai bagian dari objek 
# meskipun ' sudah digunakan untuk mengawali dan menutup string

"Say hi to Bob's mother"

**Contoh escape characters:**



*   \\'
*   \\"
*   \t = tab
*   \n = newline
*   \\\

In [64]:
print("Hello there!\nHow are you?\nI\'m doing fine")

# \n memunculkan garis baru

TypeError: ignored

**multi_line dan """**

In [65]:
multi_line = """Hello there!
How are you?
I'm fine."""
print(multi_line)

# """ memungkinkan untuk menyimpan String lebih dari satu baris

TypeError: ignored

# Raw Strings

memasukkan string sesuai dengan apapun input yang diberikan. Digunakan untuk regex (regular expression) dan implementasi yang bergantung pada backlash. 

menggunakan huruf r sebagai pembukan string

In [66]:
print(r'That is Carol\'s cat')

# berkat raw strings (r), backlash akan muncul pada output

TypeError: ignored