<a href="https://colab.research.google.com/github/ezioux/Learning-Python/blob/Operator%2C-Operands%2C-dan-Expressions/Operators%2C_Operands%2C_dan_Expressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

a + b 

+ = operator
a, b = operand

# Operator Matematika dan String

+ 
- (tidak berlaku untuk string)
*
** pangkat (untuk akar 2, gunakan pangkat 0.5)
/
// bagi habis
% modulo (mengembalikan sisa bagi)
          contoh; 13 % 3 hasilnya 1

# Operasi Bit

\>> right shift
\
\<< left shift
\
\& (bitwise AND)
\
\| (bitwise OR)
\
\^ (bitwise XOR)
\
\~ (bitwise invert)

In [1]:
2 << 2

# left shift 
# menggeser bit dari operand pertama sebanyak operand kedua ke kiri
# 2 dalam binary adalah 00010
# geser 2 jadi 01000
# 01000 = 8

8

In [2]:
11 >> 1

# right shift
# menggeser bit sebanyak operand kedua ke kanan 
# 11 dalam binary adalah 001011
# geser 1 ke kanan jadi 000101
# 000101 = 5

5

In [3]:
5 & 3

# bitwise AND (&)  bekerja dengan AND menggunakan Truth Table And
# dalam Truth Table, 0 = false dan 1 = true
# 0 dan 0 = 0, 0 dan 1 = 0, 1 dan 0 = 0, 1 dan 1 = 1
# 5 dalam binary adalah 00101
# 3 dalam binary adalah 00011
# 5 dan 3 dalam binary dikalkulasi dengan table AND sehingga 00001
# 00001 dalam integer adalah 1
# maka bitwise AND 5 dan 3 adalah 1

1

In [4]:
5 | 3

# bitwise OR  (|) bekerja dengan OR menggunakan Truth Table OR
# dalam Truth Table, 0 = false dan 1 = tue
# 0 dan 0 = 0, 1 dan 0 = 1, 0 dan 1 = 1, 1 dan 1 = 1
# sekurang-kurangnya ada 1, maka nilai akan menjadi 1
# 5 dalam binary adalah 00101
# 3 dalam binary adalah 00011
# 5 dan 3 dalam binary dikalkulasi dengan tabel OR sehingga 00111
# 00111 dalam integer adalah 7
# maka bitwise OR 5 dan 3 adalah 7

7

In [5]:
5 ^ 3

# bitwise XOR (^) bekerja dengan menggunakan tabel XOR
# dalam tabel XOR, 0 dan 0 = 0, 0 dan 1 = 1, 1 dan 0 = 1, 1 dan 1 = 0
# setidaknya ada satu elemen yang berbeda sehingga menghasilkan 1
# 5 dalam binary adalah 00101
# 3 dalam binary adalah 00011
# 5 dan 3 dalam binary dikalkulasi menggunakan tabel XOR sehingga 00110
# 00110 dalam integer adalah 6
# maka bitwise XOR 5 dan 3 adalah 6

6

In [6]:
~5

# bitwise invert (~) menjalankan operasi invert dalam binary
# 5 dalam binary adalah 000101
# menggunakan prinsip Two's complement, maka invert nilai 0101
# setelah di-invert nilainya menjadi 1010
# tambahkan 1 pada digit terakhir
# sehingga nilai kalkulasinya menjadi 1011
# pada bilangan negatif, nilai binarynya menjadi -8, 4, 2, 1
# sehingga 1011 menjadi -8+2+1=-5

# secara singkat, nilai invert 5 adalah -(x+1)
# sehingga ~5 adalah -6

-6

# Perbandingan (hasil berupa True atau False)

\< operator.lt (less than)
\
\> operator.gt (greater than)
\
\<= operator.le (less than or equal to)
\
\>= operator.ge (greater than or equal to)
\
\== operator.eq (equal to)
\
\!= operator.ne (not equal to)

# Boolean Operator

not
\
and
\
or

In [15]:
x = 2
y = 3
x == y

False

In [16]:
x != y

True

In [17]:
x < 8 and  y < 8

# output 'True' karena sesuai dengan x = 2 dan y = 3

True

In [18]:
x < 8  and y < 2

# output 'False' karena meskipun x < 8 benar, tapi y < 2 salah
# mengikuti Truth Table And yaitu: 
# 0 dan 0 = 0, 0 dan 1 = 0, 1 dan 0 = 0, 1 dan 1 = 1
# maka, kedua pernyataan harus sama-sama benar ( 1 dan 1) 
# untuk mencapai True (1)

False

In [19]:
x < 8 or y < 2 

# output 'True' karena meskipun y < 2 salah, tapi x < 8 benar
# mengikuti Truth Table Or yaitu;
# 0 dana 0 = 0, 0 dan 1 = 1, 1 dan 0 = 1, 1 dan 1 = 1
# maka, jika ada satu saja yang benar (1), maka nilai akhirnya bisa 'True" (1)

True

In [20]:
x = True
x

True

In [22]:
x = True
not x

# 'not' digunakan untuk menegasi True 
# sehingga hasilnya 'False'

False

In [27]:
a = 2
a = a * 3

# dapat juga dituliskan sebagai 

a = 2
a *= 3
a

6