<a href="https://colab.research.google.com/github/ezioux/Learning-Python/blob/Tipe-Data/Tipe_data_2_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tuple

In [0]:
t = (5,'program', 1+3j)
# Tuple: data sekali tulis yang tidak bisa diubah

In [5]:
t = (5,'program', 1+3j)
t[1]
t[0:3]
t[0]=10
# Karena tuple tidak bisa diubah, maka ketika t0 diubah menjadi 10, data error

TypeError: ignored

Set

In [6]:
a = {1,2,2,3,3,3}
a
# Set adalah kumpuan item berifat unik, tanpa urutan,
# dapat otomatis menghapus data duplikat

{1, 2, 3}

In [7]:
a = {1,2,3}
a[1]
# tidak bisa mengambil data dengan slicing [], karena datanya unordered

TypeError: ignored

Dictionary

In [8]:
d = {1:'value', 'key':2}
print(type(d))
# Data dicitionary menggunankan {} dan '' untuk tulisan
# Data dictionary terdiri dari value dan key
# Key dan value dipisahkan dengan :
# Pair elemen key dan balue dipisahkan ,
# Key dan value dapat berua variabel apapun

<class 'dict'>

In [11]:
d = {1:'value', 'key':2}
print(type(d))
print("d[1] = ", d[1])
print("d['key'] = ", d['key']);
# Print type (d) untuk mengetahui jenis kelas kode yaitu 'dict'
# Slice 1 adalah value dan untuk memunculkan fungsi maka
# "d[1] =", -> koma untuk memisahkan, lalu d[1] untuk mengeluarkan isi kode
# Slice 2 adalah key dan untuk memunculkan fungsi makak
# ("d['key']" = ", d['key']);

<class 'dict'>
d[1] =  value
d['key'] =  2

In [13]:
d = {1:'value', 'key':2}
print(type(d))
print("d[1] = ", d[1]);
print("d['key'] = ", d['key']);

# Generates error
print("d[2] = ", d[2] );

# Dictionary tidak bisa dipanggil dengan urutan indeks, melainkan harus 'key'
# maka dari itu, tidak ada indeks 2, jadi data error

<class 'dict'>
d[1] =  value
d['key'] =  2

KeyError: ignored

Konversi antar tipe data

In [14]:
float(5)
# Mengkonversi dengan data bawaan (float) sehingga
# bilangan integer (int) berubah jadi desimal (float)

5.0

In [15]:
int(10.6)
# Mengkonversi data bawaan (int) sehingga
# bilangan float menjadi int

10

In [16]:
int(-10.6)
# Mengkonversi data float menjadi int

-10

In [17]:
float('2.5')
# Konversi dari string ke float

2.5

In [19]:
str(25)
# Konversi dari int ke string

'25'

In [18]:
int('1p')
# String complex tidak valid untuk dijadikan integral, maka data error

ValueError: ignored

In [20]:
set([1,2,3])
# Konversi dari list ke set

{1, 2, 3}

In [21]:
tuple({5,6,7})
# Konversi dari set ke tuple

(5, 6, 7)

In [22]:
list('hello')
# Konversi dari string ke list

['h', 'e', 'l', 'l', 'o']

In [23]:
dict([[1,2],[3,4]])
# Konversi dari tuple ke dictionary
# isi data harus memenuhi persyaratan key-value
# maka harus memiliki pasangan nilai

{1: 2, 3: 4}

In [24]:
dict([(3,26), (4, 44)])
# Konversi tuple ke dictionary

{3: 26, 4: 44}